.header{
    background: $color-primary-dark;
    color: $color-secondary-light;
    margin-bottom: $m-size;
    padding: $m-size 0rem;
}
// BEM block element modifier
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle{
    color: $color-light;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint){
    .header{
        margin-bottom: $xl-size;
    }
}