// Colors

$color-primary-dark: #2F2F42;
$color-primary-x-light: #92B0DA;
$color-primary-light: #5E8AC0;
$color-primary-xx-light: #DCE7F1;

$color-secondary: #D44C5E;
$color-secondary-light: #DC5B6C;

$color-white: #fff;
$color-light: #DCE7F1;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45em;